.welcome-container {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #000;
}

.welcome-container-title,
.welcome-container-paragraph {
  color: #fff;
  padding: 10px;
}

.welcome-container-title {
  text-align: center;
  font-size: 4rem;
}

.welcome-container-paragraph {
  margin: 0px 20px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}
